@model IncosafCMS.Core.DomainModels.OriginalEquipment
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Bạn có chắc chắn muốn xóa thiết bị khỏi thư viện?</h3>
<div>
    <h4>Thư viện thiết bị</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManuFacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManuFacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfProduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfProduction)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "EquipLibrary", "Admin")
        </div>
    }
</div>
