@model IncosafCMS.Core.DomainModels.OriginalEquipment
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <h4>OriginalEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManuFacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManuFacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfProduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfProduction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "EquipLibrary", "Admin")
</p>
