@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-top-links navbar-right" style="margin-top: -15px; margin-bottom: 0px; padding-bottom: 0px; padding-top: -15px;">
            <li>
                <span class="m-r-sm" data-i18n="topnav.welcometext"><i class="fa fa-book">@Html.ActionLink("Tài liệu", "Docman", "Account", routeValues: null, htmlAttributes: new { title = "Tài liệu", target = "_blank" })</i></span>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <span class="m-r-sm"><i class="fa fa-cogs"></i> @Html.ActionLink("Quản trị", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Trang quản trị" })</span>
                </li>
            }

            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">@Html.ActionLink("Xin chào " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</span>
            </li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"> Đăng xuất</i></a></li>
        </ul>

    }
}
else
{
    <ul class="nav navbar-top-links navbar-right">
        <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<style>
    .navbar-right {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: -5px;
        padding-top: -5px;
    }

        .navbar-right li {
            list-style: none;            
        }

    /*Giảm kích thước nút vuông bên trái thanh Topnavbar*/
    .navbar-minimalize {
        padding: 1px 4px !important; /* giảm khoảng trong nút */
        font-size: 10px !important; /* kích thước icon */
        height: 20px !important; /* chiều cao nút */
        line-height: 20px !important; /* căn giữa icon */
        border-radius: 2px !important;
    }

        .navbar-minimalize i {
            font-size: 10px !important; /* kích thước icon */
        }
</style>