@model IEnumerable<IncosafCMS.Core.DomainModels.Customer>
@{
    Layout = null;
}
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Representative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepresentativePosition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Representative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativePosition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="full-height">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Thư viện thiết bị</h5>
                    </div>
                    <div class="ibox-content scroll_content" style="padding: 5px">
                        @Html.DevExpress().GridView(
                            settings =>
                            {
                                settings.Name = "gvUserEditing";
                                settings.KeyFieldName = "Id";
                                settings.CallbackRouteValues = new { Controller = "CustomerAdmin", Action = "Index" };
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.SettingsBehavior.AllowFocusedRow = true;
                                settings.SettingsLoadingPanel.Text = "Đang tải...";

                                settings.Styles.Header.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(5);
                                settings.Styles.Header.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(5);
                                settings.Styles.Cell.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(7);
                                settings.Styles.Cell.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(7);
                                settings.ControlStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;

                                settings.Columns.Add(column =>
                                {
                                    column.Caption = "#";
                                    column.SetDataItemTemplateContent(c =>
                                    {
                                        ViewContext.Writer.Write(
                                            Html.ActionLink("Sửa", "Edit", new { Id = DataBinder.Eval(c.DataItem, "Id") }) + "&nbsp;" +
                                            Html.ActionLink("Xóa", "Delete", new { Id = DataBinder.Eval(c.DataItem, "Id") },
                                                new { onclick = "return confirm('Bạn có chắc chắn muốn xóa?')" })
                                        );
                                    });
                                    column.SetHeaderTemplateContent(c =>
                                    {
                                        ViewContext.Writer.Write(
                                            Html.ActionLink("Tạo mới", "Create").ToHtmlString()
                                        );
                                    });
                                    column.Settings.AllowDragDrop = DefaultBoolean.False;
                                    column.Settings.AllowSort = DefaultBoolean.False;
                                    column.Width = 70;
                                });

                                settings.Columns.Add(column =>
                                {
                                    column.FieldName = "Name";
                                    column.Caption = "Tên khách hàng";
                                });
                                settings.Columns.Add(column =>
                                {
                                    column.FieldName = "Address";
                                    column.Caption = "Địa chỉ";
                                });
                                settings.Columns.Add(column =>
                                {
                                    column.FieldName = "Phone";
                                    column.Caption = "Điện thoại";
                                });
                                settings.Columns.Add(column =>
                                {
                                    column.FieldName = "Fax";
                                    column.Caption = "Fax";
                                });
                                settings.Columns.Add(column =>
                                {
                                    column.FieldName = "AccountNumber";
                                    column.Caption = "Số tài khoản";
                                });
                                settings.Columns.Add(column =>
                                {
                                    column.FieldName = "BankName";
                                    column.Caption = "Ngân hàng";
                                });
                                settings.Columns.Add(column =>
                                {
                                    column.FieldName = "TaxID";
                                    column.Caption = "Mã số thuế";
                                });
                                //settings.Columns.Add(column =>
                                //{
                                //    column.FieldName = "Representative";
                                //    column.Caption = "Đại diện";
                                //});
                                //settings.Columns.Add(column =>
                                //{
                                //    column.FieldName = "RepresentativePosition";
                                //    column.Caption = "Chức vụ người đại diện";
                                //});
                                settings.ClientLayout = (s, e) =>
                                {
                                    if (e.LayoutMode == ClientLayoutMode.Loading)
                                    {
                                        if (Session["GridState"] != null)
                                            e.LayoutData = (string)Session["GridState"];
                                    }
                                    else
                                        Session["GridState"] = e.LayoutData;
                                };
                            }).Bind(Model).GetHtml()
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")

    <script type="text/javascript">
        $(document).ready(function () {
            // Add slimscroll to element
            $('.scroll_content').slimscroll({
                height: 'calc(100vh - 205px)'//calc(100vh - 205px)
            });


        });
    </script>

}
