@model IncosafCMS.Core.DomainModels.OriginalEquipment

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "EquipmentLib", FormMethod.Post, new { id = "createEquipmentLibForm" }))
{
    @Html.AntiForgeryToken()

    <div class="scroll_content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group hidden">
                    <label>ID Thiết bị</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.Id,
                            settings =>
                            {
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.ReadOnly = true;
                            }
                        ).GetHtml()
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Mã hiệu</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.Code,
                            settings =>
                            {
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Nhập mã hiệu thiết bị";

                            }
                        ).GetHtml()
                        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Nhóm</label>
                    <div>
                        @Html.DevExpress().ComboBoxFor(model => model.ParentCode,
                            settings =>
                            {
                                //settings.Name = "cmbOriginalEquipment";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.DropDownWidth = System.Web.UI.WebControls.Unit.Pixel(350);
                                settings.Properties.TextField = "Name";
                                settings.Properties.ValueField = "Code";
                                settings.Properties.ValueType = typeof(string);
                                settings.Properties.ItemStyle.Wrap = DefaultBoolean.True;


                                settings.Properties.DisplayFormatString = "{1}";
                                settings.Properties.Columns.Add("Code", "Mã nhóm", 150);
                                settings.Properties.Columns.Add("Name", "Tên nhóm", System.Web.UI.WebControls.Unit.Percentage(100));
                            }
                        ).BindList((IEnumerable<IncosafCMS.Core.DomainModels.OriginalEquipment>)ViewData["equipGroups"]).GetHtml()
                    </div>
                </div>
                <div class="form-group">
                    <label>Tên Thiết bị</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.Name,
                            settings =>
                            {
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Nhập tên thiết bị";

                                 }
                        ).GetHtml()
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Số quản lý</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.No,
                            settings =>
                            {
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Nhập số quản lý của thiết bị";

                            }
                        ).GetHtml()
                        @Html.ValidationMessageFor(m => m.No, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Năm sản xuất</label>
                    <div>
                        @Html.DevExpress().SpinEditFor(model => model.YearOfProduction,
                            settings =>
                            {
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Nhập năm sản xuất của thiết bị";

                                 }
                        ).GetHtml()
                        @Html.ValidationMessageFor(m => m.YearOfProduction, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Nhà chế tạo</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.ManuFacturer,
                            settings =>
                            {
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Nhập tên nhà chế tạo của thiết bị";

                                 }
                        ).GetHtml()
                        @Html.ValidationMessageFor(m => m.ManuFacturer, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Công dụng</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.Uses,
                            settings =>
                            {
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Nhập công dụng của thiết bị";

                            }
                        ).GetHtml()
                        @Html.ValidationMessageFor(m => m.Uses, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="bg-success p-xs b-r-xs">Các thông số kỹ thuật cơ bản</div>
                @Html.Action("SpecificationsOfEquipmentLibCreatePartial")
            </div>
            <div class="col-md-6">
                <div class="bg-success p-xs b-r-xs">Kiểm tra bên ngoài; thử không tải - Thử có tải</div>
                @Html.Action("PartionsOfEquipmentLibCreatePartial")
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="bg-success p-xs b-r-xs">Thử tải</div>
                @Html.Action("LoadTestsOfEquipmentLibCreatePartial")
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="bg-success p-xs b-r-xs">Hồ sơ kỹ thuật</div>
                @Html.Action("TechnicalDocumentOfEquipmentLibCreatePartial")
            </div>
        </div>
    </div>
    <br />
    <div class="form-group text-right" style="margin-bottom: 5px; margin-top: 5px">
        <input type="submit" value="Lưu lại" class="btn btn-primary" />
        <button type="button" class="btn btn-white" data-dismiss="modal">Hủy bỏ</button>
    </div>
}


