@model IEnumerable<IncosafCMS.Core.DomainModels.Customer>

@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var selectedcustomer;

    function OnGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'Id;Name;Address;Phone;Fax;AccountNumber;TaxID;Representative;RepresentativePosition', OnGetRowValues);
    }
    function OnGetRowValues(values) {
        if (values[0]) {
            selectedcustomer = values[0];
            if (selectedcustomer && typeof selectedcustomer === "number") {
                gvContractOfCustomer.PerformCallback({
                    selectedcustomer: parseInt(selectedcustomer)
                });

                var url = '@Url.Action("CustomerDetails", "Home", new { id = "_id_" })'.replace('_id_', selectedcustomer);
                
                customerDetailsLink.href = url;
                //customerDetailsNavigationLink.href = url;
            }
            else {
                selectedcustomer = -1;
                gvContractOfCustomer.PerformCallback({
                    selectedcustomer: parseInt(selectedcustomer)
                });
            }
        }
        else {
            selectedcustomer = -1;
            gvContractOfCustomer.PerformCallback({
                selectedcustomer: parseInt(selectedcustomer)
            });
        }

        cAddress.textContent = values[2] ? values[2] : "N/A";
        cPhone.textContent = values[3] ? values[3] : "N/A";
        cFax.textContent = values[4] ? values[4] : "N/A";
        cAccountNumber.textContent = values[5] ? values[5] : "N/A";
        cTaxID.textContent = values[6] ? values[6] : "N/A";
        cRepresentative.textContent = values[7] ? values[7] : "N/A";
        cRepresentativePosition.textContent = values[8] ? values[8] : "N/A";
    }

    function editCustomer() {
        if (selectedcustomer && typeof selectedcustomer === "number") {
            $.ajax({
                url: '/Customers/Edit/' + selectedcustomer, // The method name + paramater
                success: function (data) {
                    $('#modalEditWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)

                }
            });
        }
    }
    function addnewCustomer() {
        $.ajax({
            url: '/Customers/Create/', // The method name + paramater
            success: function (data) {
                $('#modalAddNewWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)

            }
        });
    }
</script>

<style>
    .list-group-item {
        height: inherit;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

        .list-group-item:first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        .list-group-item:last-child {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

    .dxgvGroupRow_Material td.dxgv, .dxgvFocusedGroupRow_Material td.dxgv, .dxgvDataRow_Material td.dxgv {
        padding: 5px !important;
    }
</style>

<div class="wrapper animated fadeInRight">
    <div class="row">
        <div class="full-height">
            <div class="col-lg-8" style="padding-left: 0px; padding-right: 2px;">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Danh sách khách hàng 1</h5>
                        <div class="text-right">
                            @*@if (User.IsInRole("KDV"))
                            {*@
                                <button class="btn btn-primary btn-rounded btn-xs" data-toggle="modal" data-target="#addnewModal" onclick="addnewCustomer()">Tạo mới</button>
                                <div class="modal inmodal" id="addnewModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content animated bounceInRight">
                                            <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                                <h4>Tạo mới khách hàng</h4>
                                            </div>
                                            <div class="modal-body scroll_content" id="modalAddNewWrapper" style="padding: 10px">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            @*}
                            else
                            {
                                <button class="btn btn-primary btn-rounded btn-xs denyCreate">Tạo mới</button>
                            }*@
                            @*<button class="btn btn-info btn-rounded btn-xs" data-toggle="modal" data-target="#editModal" onclick="editCustomer()">Chỉnh sửa</button>
                            <div class="modal inmodal" id="editModal" tabindex="-2" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                            <h4>Chỉnh sửa khách hàng</h4>
                                        </div>
                                        <div class="modal-body scroll_content" id="modalEditWrapper" style="padding: 10px">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-danger btn-rounded btn-xs deleteCustomer" href="#">Xóa</button>*@
                        </div>
                    </div>
                    <div class="ibox-content" style="padding: 5px">
                        <div class="scroll_content">
                            @Html.Action("CustomerViewPartial", "Customers")
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" style="padding-left: 2px; padding-right: 0px;">
                <div class="ibox">
                    <div class="ibox-title" style="background-color: #1ab394; color: white">
                        <h5>Chi tiết khách hàng</h5>
                        <div class="text-right">
                            <a class="btn btn-warning btn-rounded btn-xs" id="customerDetailsLink">Xem chi tiết ></a>
                        </div>
                    </div>
                    <div class="ibox-content" style="padding: 5px">
                        <div class="scroll_content">
                            <ul class="list-group" style="text-overflow: ellipsis">
                                <li class="list-group-item"><p><b>Người đại diện: </b><i id="cRepresentative"></i></p></li>
                                <li class="list-group-item"><p><b>Chức vụ: </b><i id="cRepresentativePosition"></i></p></li>
                                <li class="list-group-item"><p><b>Địa chỉ: </b><i  id="cAddress"></i></p></li>
                                <li class="list-group-item"><p><b>Điện thoại: </b><i id="cPhone"></i> - <b>Fax: </b><i id="cFax"></i></p></li>
                                <li class="list-group-item"><p><b>Tài khoản: </b><i id="cAccountNumber"></i></p></li>
                                <li class="list-group-item"><p><b>Mã số thuế: </b><i id="cTaxID"></i></p></li>
                            </ul>
                            <div class="bg-success p-xs b-r-xs">Danh sách hợp đồng</div>
                            @Html.Action("ContractOfCustomerPartial", "Customers")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/plugins/sweetAlert")

    <script type="text/javascript">
        $(document).ready(function () {

            // Add slimscroll to element
            $('.scroll_content').slimscroll({
                height: 'calc(100vh - 170px)'
            });
        });

        $('.deleteCustomer').click(function () {
            if (selectedcustomer && typeof selectedcustomer === "number") {
                swal({
                    title: "Bạn có muốn xóa?",
                    text: "Thao tác này sẽ không thể khôi phục lại",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Đồng ý",
                    cancelButtonColor: "#23C6C8",
                    cancelButtonText: "Hủy bỏ",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({

                            url: '/Customers/Delete/' + selectedcustomer, // The method name + paramater
                            type: "POST",
                            success: function (data) {
                                swal({ title: "Đã xóa!", text: "Đã xóa thành công.", type: "success", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                                @*window.location.href = '@Url.Action("Customer", "Home")';*@
                            }
                        });
                        } else {
                        swal({ title: "Đã hủy bỏ", text: "Đã hủy bỏ thao tác.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                    }
                });
            }
        });
        

        $('.denyCreate').click(function () {
            swal({ title: "Bạn không có quyền tạo mới", text: "Bạn bị giới hạn quyền cho tác vụ này", type: "warning", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" })
        });
    </script>
}