@model IEnumerable<IncosafCMS.Core.DomainModels.PriceQuotation>

@{
    ViewBag.Title = "Danh sách báo giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var selectedpricequotation;
    var statusPriceQuotation;
    function OnGridFocusedRowChanged(s, e) {
        $("#btnPriceQuotationReport").prop('disabled', true);
        $("#btnEditPriceQuotation").prop('disabled', true);
        $("#btnDelete").prop('disabled', true);
        s.GetRowValues(s.GetFocusedRowIndex(), 'Id;PQName;customer.Name;customer.Representative;customer.Address;customer.Phone;customer.Fax;customer.AccountNumber;Value', OnGetRowValues);
    }
    function OnGetRowValues(values) {
        if (values[0]) {
            selectedpricequotation = parseInt(values[0]);
            if (selectedpricequotation && typeof selectedpricequotation === "number") {
                gvTaskOfPriceQuotation.PerformCallback({
                    selectedpricequotation: parseInt(selectedpricequotation)
                });

                @*var url = '@Url.Action("PriceQuotationReport", "Reports", new { id = "_id_" })'.replace('_id_', selectedpricequotation);
                btnPriceQuotationReport.href = url;*@

                $("#btnPriceQuotationReport").prop('disabled', false);
                $("#btnEditPriceQuotation").prop('disabled', false);
                $("#btnDelete").prop('disabled', false);
            }
            else {
                selectedpricequotation = -1;
                gvTaskOfPriceQuotation.PerformCallback({
                    selectedpricequotation: parseInt(selectedpricequotation)
                });

                $("#btnPriceQuotationReport").prop('disabled', true);
                $("#btnEditPriceQuotation").prop('disabled', true);
                $("#btnDelete").prop('disabled', true);
            }
        } else {
            selectedpricequotation = -1;
            gvTaskOfPriceQuotation.PerformCallback({
                selectedpricequotation: parseInt(selectedpricequotation)
            });

            $("#btnPriceQuotationReport").prop('disabled', true);
            $("#btnEditPriceQuotation").prop('disabled', true);
            $("#btnDelete").prop('disabled', true);
        }

        cPriceQuotationName.textContent = "Tên báo giá: " + (values[1] ? values[1] : "N/A");

        cName.textContent = "Khách hàng: " + (values[2] ? values[2] : "N/A");
        cRepresentative.textContent = "Đại diện bên A: " + (values[3] ? values[3] : "N/A");
        cAddress.textContent = "Địa chỉ: " + (values[4] ? values[4] : "N/A");
        cPhoneFax.textContent = "Điện thoại: " + (values[5] ? values[5] : "N/A") + " - " + "Fax: " + (values[6] ? values[6] : "N/A");
        cAccountNumber.textContent = "Tài khoản: " + (values[7] ? values[7] : "N/A");

        cValue.textContent = values[8] ? values[8].toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") : "0.000";
        cValuetoWord.textContent = values[8] ? DocTienBangChu(values[8]) + " đồng." : "Không đồng";

    }
    function OnGridPriceQuotationsEndCallBack(s, e) {
        if (s.cpIsCustomCallback) {
            s.cpIsCustomCallback = false;
            OnGridFocusedRowChanged(s, e);
        }
    }
    function OnRadioButtonSelectedIndexChanged(s, e) {
        var index = s.GetSelectedIndex();
        grvPriceQuotations.PerformCallback({ filtermode: parseInt(index) });
    }

    function editPriceQuotation() {
        $('#modalEditWrapper').html("");
        if (selectedpricequotation && typeof selectedpricequotation === "number") {
            $('#loading_panel').show();
            $.ajax({
                url: '/PriceQuotations/Edit/' + selectedpricequotation, // The method name + paramater
                success: function (data) {
                    $('#modalEditWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    $('#loading_panel').hide();
                },
            });
        }
        else {
            //swal("Máy chủ chưa phản hồi", "Vui lòng thực hiện lại!", "warning");
            swal({
                title: "Máy chủ chưa có phản hồi",
                text: "Vui lòng thực hiện lại!",
                type: "warning",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Đồng ý",
                closeOnConfirm: true,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $('#editModal').modal('hide');
                }
            });
        }
    }
    function addnewPriceQuotation() {
        $('#modalAddNewWrapper').html("");
        $.ajax({
            url: '/PriceQuotations/Create/', // The method name + paramater
            success: function (data) {
                if (data)
                    $('#modalAddNewWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                else {
                    $('#addnewModal').modal('hide');
                    swal({ title: "Bạn không có quyền!", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                }
            },
            error: function (data) {
                $('#addnewModal').modal('hide');
                swal({ title: "Lỗi rồi :)", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
            }
        });
    }
    function addnewFromOldPriceQuotation() {
        $('#modalAddNewFromOldPriceQuotationWrapper').html("");
        $.ajax({
            url: '/PriceQuotations/CreateFromPriceQuotation/', // The method name + paramater
            success: function (data) {
                if (data)
                    $('#modalAddNewFromOldPriceQuotationWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                else {
                    $('#addnewFromOldPriceQuotationModal').modal('hide');
                    swal({ title: "Bạn không có quyền!", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                }
            },
            error: function (data) {
                $('#addnewFromOldPriceQuotationModal').modal('hide');
                swal({ title: "Lỗi rồi :)", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
            }
        });
    }
    function priceQuotationReportShow() {
        if (selectedpricequotation && typeof selectedpricequotation === "number") {
            var url = '@Url.Action("PriceQuotationReport", "Reports", new { id = "_id_" })'.replace('_id_', selectedpricequotation);
            var priceQuotationReportWindow = window.open(url, '_blank');
            priceQuotationReportWindow.location;
        }
        else {
            swal({
                title: "Máy chủ chưa có phản hồi",
                text: "Vui lòng thực hiện lại!",
                type: "warning",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Đồng ý",
                closeOnConfirm: true,
                closeOnCancel: false
            });
        }
    }


</script>

<style>
    .list-group-item {
        height: inherit;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
        .list-group-item:first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        .list-group-item:last-child {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

    .dxgvGroupRow_Material td.dxgv, .dxgvFocusedGroupRow_Material td.dxgv, .dxgvDataRow_Material td.dxgv {
        padding: 5px !important;
    }
</style>

<div class="wrapper animated fadeInRight">
    <div class="row">
        <div class="full-height">
            <div class="col-lg-8" style="padding-left: 0px; padding-right: 2px;">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Danh sách báo giá</h5>
                        <div class="text-right">
                            <button id="btnPriceQuotationReport" class="btn btn-warning btn-rounded btn-xs" onclick="priceQuotationReportShow()">In báo giá</button>

                            <div class="dropdown profile-element" style="display: inline-block; vertical-align: middle">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="btn btn-primary btn-rounded btn-xs">Tạo mới <b class="caret"></b></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu animated fadeInDown m-t-xs">
                                    <li>
                                        <a data-toggle="modal" data-target="#addnewModal" onclick="addnewPriceQuotation()">Tạo mới</a>
                                        <div class="modal inmodal" id="addnewModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                                        <h4>Tạo mới báo giá</h4>
                                                    </div>
                                                    <div class="modal-body scroll_content" id="modalAddNewWrapper" style="padding: 10px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#addnewFromOldPriceQuotationModal" onclick="addnewFromOldPriceQuotation()">Tạo từ báo giá cũ</a>
                                        <div class="modal inmodal" id="addnewFromOldPriceQuotationModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                            <div class="modal-dialog">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                                        <h4>Tạo mới báo giá</h4>
                                                    </div>
                                                    <div class="modal-body" id="modalAddNewFromOldPriceQuotationWrapper" style="padding: 10px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown profile-element" style="display: inline-block; vertical-align: middle">
                                <button id="btnEditPriceQuotation" data-toggle="dropdown" class="btn btn-info btn-rounded btn-xs" href="#" disabled>
                                    <span class="clear">
                                        <span>Chỉnh sửa <b class="caret"></b></span>
                                    </span>
                                </button>
                                <ul class="dropdown-menu animated fadeInDown m-t-xs">
                                    <li>
                                        <a data-toggle="modal" data-target="#editModal" onclick="editPriceQuotation()">Chỉnh sửa thông tin</a>
                                        <div class="modal inmodal" id="editModal" tabindex="-2" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                                        <h4>Chỉnh sửa báo giá</h4>
                                                    </div>
                                                    <div class="modal-body scroll_content" style="padding: 10px">
                                                        <div id="modalEditWrapper"></div>
                                                        <div id="loading_panel" class="spiner-example">
                                                            <div class="sk-spinner sk-spinner-wave">
                                                                <div class="sk-rect1"></div>
                                                                <div class="sk-rect2"></div>
                                                                <div class="sk-rect3"></div>
                                                                <div class="sk-rect4"></div>
                                                                <div class="sk-rect5"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a id="" class="convertPriceQuotationToContract" href="#">Chuyển thành hợp đồng</a>
                                    </li>
                                </ul>
                            </div>

                            <button id="btnDelete" class="btn btn-danger btn-rounded btn-xs deletePriceQuotation" href="#" disabled>Xóa</button>
                        </div>
                    </div>
                    <div class="ibox-content" style="padding: 5px">
                        <div class="scroll_content">
                            @Html.Action("PriceQuotationViewPartial", "PriceQuotations")
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" style="padding-left: 2px; padding-right: 0px;">
                <div class="ibox">
                    <div class="ibox-title" style="background-color: #1ab394; color: white">
                        <h5>Chi tiết báo giá</h5>
                        @*<div class="text-right">
                            <a class="btn btn-warning btn-rounded btn-xs" id="pricequotationDetailsLink">Xem chi tiết ></a>
                        </div>*@
                    </div>
                    <div class="ibox-content" style="padding: 5px">
                        <div class="scroll_content">
                            <ul class="list-group" style="text-overflow: ellipsis">
                                <li class="list-group-item"><b id="cPriceQuotationName"></b></li>
                                <li class="list-group-item"><p id="cName"></p></li>
                                <li class="list-group-item"><p id="cRepresentative"></p></li>
                                <li class="list-group-item"><p id="cAddress"></p></li>
                                <li class="list-group-item"><p id="cPhoneFax"></p></li>
                                <li class="list-group-item"><p id="cAccountNumber"></p></li>
                            </ul>
                            <div class="bg-success p-xs b-r-xs">Nội dung công việc</div>
                            @Html.Action("TasksOfPriceQuotationPartial", "PriceQuotations")
                            <div class="bg-primary p-xs b-r-xs">
                                <p>Giá trị hợp đồng: <span class="badge badge-danger" id="cValue"></span></p>
                                <p>Bằng chữ: <span class="badge badge-danger" id="cValuetoWord"></span></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/plugins/sweetAlert")

    <script type="text/javascript">
        $(document).ready(function () {

            // Add slimscroll to element
            $('.scroll_content').slimscroll({
                height: 'calc(100vh - 170px)'
            });


        });

        $('.convertPriceQuotationToContract').click(function () {
            if (selectedpricequotation && typeof selectedpricequotation === "number") {
                swal({
                    title: "Bạn có muốn chuyển thành hợp đồng?",
                    text: "Thao tác này sẽ không thể khôi phục lại",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Đồng ý",
                    cancelButtonColor: "#23C6C8",
                    cancelButtonText: "Hủy bỏ",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: '/PriceQuotations/ConvertToContract/' + selectedpricequotation, // The method name + paramater
                            type: "POST",
                            success: function (data) {
                                if (data) {
                                    if (data[0] == "false")
                                        swal({ title: data[1], text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                                    else
                                        swal({ title: data[1], text: "Đã chuyển thành công.", type: "success", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });

                                }
                                window.location.href = '@Url.Action("PriceQuotation", "Home")';
                            }
                        });
                    } else {
                        swal({ title: "Đã hủy bỏ", text: "Đã hủy bỏ thao tác.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                    }
                });
            }
        });

        $('.deletePriceQuotation').click(function () {
            if (selectedpricequotation && typeof selectedpricequotation === "number") {
                swal({
                    title: "Bạn có muốn xóa?",
                    text: "Thao tác này sẽ không thể khôi phục lại",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Đồng ý",
                    cancelButtonColor: "#23C6C8",
                    cancelButtonText: "Hủy bỏ",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: '/PriceQuotations/Delete/' + selectedpricequotation, // The method name + paramater
                            type: "POST",
                            success: function (data) {
                                if (data) {
                                    if (data[0] == "false")
                                        swal({ title: data[1], text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                                    else
                                        swal({ title: data[1], text: "Đã xóa thành công.", type: "success", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });

                                }
                                window.location.href = '@Url.Action("PriceQuotation", "Home")';
                            }
                            });
                        } else {
                            swal({ title: "Đã hủy bỏ", text: "Đã hủy bỏ thao tác.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                        }
                    });
            }
        });

        $('.denyCreate').click(function () {
            swal({ title: "Bạn không có quyền tạo mới", text: "Bạn bị giới hạn quyền cho tác vụ này", type: "warning", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" })
        });
    </script>

}