@model IncosafCMS.Core.DomainModels.Contract

@{
    Layout = null;
}


@using (Html.BeginForm("EditContractNumber", "Contracts", FormMethod.Post, new { id = "editContractNumberForm" }))
{
    @Html.AntiForgeryToken()

    <div class="scroll_content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Hợp đồng</label>
                    <div>
                        @Html.DevExpress().TextBox(
                            settings =>
                            {
                                settings.Name = "txtTenHD";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

                                settings.Enabled = false;
                            }
                        ).Bind(Model.Name).GetHtml()
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-9">
                            <label>Mã hợp đồng</label>
                            <div>
                                @Html.DevExpress().TextBox(
                                    settings =>
                                    {
                                        settings.Name = "txtMaHD";
                                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                        settings.Properties.NullText = "Nhập mã hợp đồng mới";
                                        settings.Properties.ClientSideEvents.ValueChanged = "OnSoHopDongChangedViaContract";
                                    }
                                ).Bind(Model.MaHD).GetHtml()
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <label></label>
                            <div style="margin-left: 5px; margin-top: 5px">
                                <button type="button" class="btn btn-sm btn-primary pull-right" onclick="OnGetAutoContractNumberClick()">Lấy mã</button>
                            </div>
                        </div>
                    </div>

                    @* 03-may-2024 Lapbt bo sung fai nhap ty le khoan cong ty khi Cap so *@
                    <div class="row" style="margin-top: 15px">
                        <div class="col-sm-6">
                            <label>Khoán công ty (%)</label>
                            <div>
                                @Html.DevExpress().ComboBoxFor(model => model.RatioOfCompany,
                                    settings =>
                                    {
                                        settings.Name = "cboRatioOfCompany";
                                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.ValueType = typeof(string);
                                        // Split the string into individual items
                                        string[] items = System.Configuration.ConfigurationManager.AppSettings["ListRatioOfCompany"].Split(';');

                                        // Tại HN: 77; 80; 83; 86; 88 - HCM và ĐN: 84,5; 87; 89,5
                                        foreach (string item in items)
                                        {
                                            settings.Properties.Items.Add(item);    // item, float.Parse(item)
                                        }
                                        settings.PreRender = (sender, e) =>
                                        {
                                            MVCxComboBox cmb = (MVCxComboBox)sender;
                                            cmb.Text = Model.RatioOfCompany.ToString().Replace(',','.');
                                        };
                                    }
                                ).GetHtml()
                                
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <label>Khoán cá nhân (%)</label>
                            <div>
                                @Html.DevExpress().TextBox(
                                    settings =>
                                    {
                                        settings.Name = "txtRatioOfInternal";
                                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                        settings.Properties.NullText = "Không nhập";
                                        settings.ReadOnly = true;
                                        //settings.Properties.ClientSideEvents.ValueChanged = "OnSoHopDongChangedViaContract";
                                    }
                                ).Bind(Model.RatioOfInternal).GetHtml()     
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px">
                        <div class="col-sm-12">
                            <label>Loại hình hợp đồng</label>
                            <div>
                                @Html.DevExpress().ComboBoxFor(model => model.contractType,
                                    settings =>
                                    {
                                        settings.Name = "cboContractTypeId";
                                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                                        settings.Properties.Items.Add("Hợp đồng kinh tế", 1);
                                        settings.Properties.Items.Add("Giấy đề nghị thường", 2);
                                        settings.Properties.Items.Add("Giấy đề nghị theo Đơn hàng", 3);
                                        settings.Properties.Items.Add("Giấy đề nghị theo Hợp đồng nguyên tắc", 4);
                                        settings.Properties.Items.Add("Hợp đồng nguyên tắc", 5);
                                        settings.Enabled = User.IsInRole("Accountant") || User.IsInRole("Admin") || string.IsNullOrEmpty(Model.MaHD);
                                    }
                                ).GetHtml()
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group text-right" style="margin-bottom: 5px; margin-top: 5px">
        <button type="button" class="btn btn-primary" onclick="OnSubmitEditContractNumber()" data-dismiss="modal">Cấp số</button>
        <button type="button" class="btn btn-white" data-dismiss="modal">Hủy bỏ</button>
    </div>
}

@section Styles {

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {



        });
    </script>

}
