@model IncosafCMS.Web.Models.InternalPaymentViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("InternalPaymentView", "Contracts", FormMethod.Post, new { id = "internalPaymentOfContractForm" }))
{
    @Html.AntiForgeryToken()

    <div class="scroll_content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">    
                <div class="form-group">
                    <label>Mã hợp đồng</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.Contract.MaHD,
                            settings =>
                            {
                                settings.Name = "txtMaHD";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Mã hợp đồng";
                                settings.Enabled = false;
                            }
                        ).GetHtml()
                    </div>
                </div>
                <div class="form-group">
                    <label>Giá trị xuất hóa đơn</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.GiaTriXuatHoaDon,
                            settings =>
                            {
                                settings.Name = "txtGiaTriXuatHoaDon";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Giá trị xuất hóa đơn";
                                settings.Properties.DisplayFormatString = "N0";
                                settings.Enabled = false;
                            }
                        ).GetHtml()
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Giá trị thanh toán trung tâm</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.TTTTam,
                            settings =>
                            {
                                settings.Name = "txtTTTTam";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Giá trị thanh toán trung tâm";
                                settings.Properties.DisplayFormatString = "N0";
                                settings.Enabled = false;
                            }
                        ).GetHtml()
                    </div>
                </div>
                <div class="form-group">
                    <label>Tổng tiền đã thanh toán</label>
                    <div>
                        @Html.DevExpress().TextBoxFor(model => model.TongTienDaTT,
                            settings =>
                            {
                                settings.Name = "txtTongTienDaTT";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                settings.Properties.NullText = "Tổng tiền đã thanh toán";
                                settings.Properties.DisplayFormatString = "N0";
                                settings.Enabled = false;
                            }
                        ).GetHtml()
                    </div>
                </div>                
            </div>   
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bg-success p-xs b-r-xs">Thanh toán nội bộ</div>
                @Html.Action("InternalPaymentsOfContractPartial")
            </div>
        </div>
    </div>
    @*<br />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text-right" style="margin-bottom: 5px; margin-top: 5px">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
                <button type="button" class="btn btn-white" data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>
    </div>*@
}

@section Styles {

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {



        });
    </script>

}
