@*@model IEnumerable<IncosafCMS.Core.DomainModels.Contract>*@

@{ 
    ViewBag.Title = "Thanh toán hợp đồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    var selectedcontract;
    function OnGridFocusedRowChanged(s, e) {
        $("#btnTurnOverOfContract").prop('disabled', true);
        $("#btnTurnOverPut").attr('disabled', 'disabled');
        $("#btnPaymentPut").attr('disabled', 'disabled');
        $("#btnInternalPaymentPut").attr('disabled', 'disabled');
        s.GetRowValues(s.GetFocusedRowIndex(), 'Id;Name', OnGetRowValues);
    }
    function OnGetRowValues(values) {
        if (values[0]) {
            selectedcontract = parseInt(values[0]);
            if (selectedcontract && typeof selectedcontract === "number") {
                $("#btnTurnOverOfContract").prop('disabled', false);
                $("#btnTurnOverPut").removeAttr('disabled');
                $("#btnPaymentPut").removeAttr('disabled');
                $("#btnInternalPaymentPut").removeAttr('disabled');
            }
            else {
                selectedcontract = -1;
                $("#btnTurnOverOfContract").prop('disabled', true);
                $("#btnTurnOverPut").prop('disabled', true);
                $("#btnPaymentPut").prop('disabled', true);
                $("#btnInternalPaymentPut").prop('disabled', true);
            }
        } else {
            selectedcontract = -1;
            $("#btnTurnOverOfContract").prop('disabled', true);
            $("#btnTurnOverPut").prop('disabled', true);
            $("#btnPaymentPut").prop('disabled', true);
            $("#btnInternalPaymentPut").prop('disabled', true);
        }
    }

    function OnGridContractsEndCallBack(s, e) {
        if (s.cpIsCustomCallback) {
            s.cpIsCustomCallback = false;
            OnGridFocusedRowChanged(s, e);
        }
    }

    function OnRadioButtonSelectedIndexChanged(s, e) {
        var index = s.GetSelectedIndex();
        grvContractsInPayment.PerformCallback({ filtermode: parseInt(index) });
    }

    function turnoverandpaymentContract() {
        $('#modalTurnOverAndPaymentWrapper').html("");
        if (selectedcontract && typeof selectedcontract === "number") {
            $.ajax({
                url: '/Contracts/TurnOverAndPaymentView/' + selectedcontract, // The method name + paramater
                success: function (data) {
                    if (data)
                        $('#modalTurnOverAndPaymentWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    else {
                        $('#turnoverandpaymentModal').modal('hide');
                        swal({ title: "Bạn không có quyền!", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                    }
                },
                error: function (data) {
                    $('#turnoverandpaymentModal').modal('hide');
                    swal({ title: "Lỗi rồi :)", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                }
            });
        }
        else {
            swal({
                title: "Máy chủ chưa có phản hồi",
                text: "Vui lòng thực hiện lại!",
                type: "warning",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Đồng ý",
                closeOnConfirm: true,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $('#turnoverandpaymentModal').modal('hide');
                }
            });
        }
    }

    function internalpaymentContract() {
        $('#modalInternalPaymentWrapper').html("");
        if (selectedcontract && typeof selectedcontract === "number") {
            $.ajax({
                url: '/Contracts/InternalPaymentView/' + selectedcontract, // The method name + paramater
                success: function (data) {
                    if (data)
                        $('#modalInternalPaymentWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    else {
                        $('#internalpaymentModal').modal('hide');
                        swal({ title: "Bạn không có quyền!", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                    }
                },
                error: function (data) {
                    $('#internalpaymentModal').modal('hide');
                    swal({ title: "Lỗi rồi :)", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                }
            });
        }
        else {
            swal({
                title: "Máy chủ chưa có phản hồi",
                text: "Vui lòng thực hiện lại!",
                type: "warning",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Đồng ý",
                closeOnConfirm: true,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $('#internalpaymentModal').modal('hide');
                }
            });
        }
    }

    function internalpaymentputContract() {
        $('#modalInternalPaymentPutWrapper').html("");
        if (selectedcontract && typeof selectedcontract === "number") {
            $.ajax({
                url: '/Contracts/InternalPaymentView/' + selectedcontract, // The method name + paramater
                success: function (data) {
                    if (data)
                        $('#modalInternalPaymentPutWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    else {
                        $('#internalpaymentputModal').modal('hide');
                        swal({ title: "Bạn không có quyền!", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                    }
                },
                error: function (data) {
                    $('#internalpaymentputModal').modal('hide');
                    swal({ title: "Lỗi rồi :)", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                }
            });
        }
        else {
            swal({
                title: "Máy chủ chưa có phản hồi",
                text: "Vui lòng thực hiện lại!",
                type: "warning",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Đồng ý",
                closeOnConfirm: true,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $('#internalpaymentputModal').modal('hide');
                }
            });
        }
    }

    function paymentputContract() {
        $('#modalPaymentPutWrapper').html("");
        if (selectedcontract && typeof selectedcontract === "number") {
            $.ajax({
                url: '/Contracts/PaymentsOfContractPut/' + selectedcontract, // The method name + paramater
                success: function (data) {
                    if (data)
                        $('#modalPaymentPutWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    else {
                        $('#paymentputModal').modal('hide');
                        swal({ title: "Bạn không có quyền!", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                    }
                },
                error: function (data) {
                    $('#paymentputModal').modal('hide');
                    swal({ title: "Lỗi rồi :)", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                }
            });
        }
        else {
            swal({
                title: "Máy chủ chưa có phản hồi",
                text: "Vui lòng thực hiện lại!",
                type: "warning",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Đồng ý",
                closeOnConfirm: true,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $('#paymentputModal').modal('hide');
                }
            });
        }
    }

    function turnoverputContract() {
        $('#modalTurnOverPutWrapper').html("");
        if (selectedcontract && typeof selectedcontract === "number") {
            $.ajax({
                url: '/Contracts/TurnOversOfContractPut/' + selectedcontract, // The method name + paramater
                success: function (data) {
                    if (data)
                        $('#modalTurnOverPutWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    else {
                        $('#turnoverputModal').modal('hide');
                        swal({ title: "Bạn không có quyền!", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                    }
                },
                error: function (data) {
                    $('#turnoverputModal').modal('hide');
                    swal({ title: "Lỗi rồi :)", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                }
            });
        }
        else {
            swal({
                title: "Máy chủ chưa có phản hồi",
                text: "Vui lòng thực hiện lại!",
                type: "warning",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Đồng ý",
                closeOnConfirm: true,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $('#turnoverputModal').modal('hide');
                }
            });
        }
    }

    function ContractPaymentToolBarClick(s, e) {
        if (e.item.name === "RefreshContractData") {
            $.ajax({
                url: '/Contracts/RefreshContractData/', // The method name + paramater
                success: function (data) {
                    var index = rdbGridContractFilterInPayment.GetSelectedIndex();
                    grvContractsInPayment.PerformCallback({ filtermode: parseInt(index) });
                },
                error: function (data) {
                    swal({ title: "Lỗi rồi :)", text: "Đã có lỗi xảy ra.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                }
            });
        }
    }
</script>

<style>
    .dxgvGroupRow_Material td.dxgv, .dxgvFocusedGroupRow_Material td.dxgv, .dxgvDataRow_Material td.dxgv {
        padding: 5px !important;
    }
</style>

<div class="wrapper animated fadeInRight">
    <div class="row">
        <div class="full-height">
            <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Danh sách hợp đồng</h5>
                        <div class="text-right">
                            <a id="btnTurnOverPut" class="btn btn-primary btn-rounded btn-xs" data-toggle="modal" data-target="#turnoverputModal" onclick="turnoverputContract()" disabled>Xuất hóa đơn</a>
                            <div class="modal inmodal" id="turnoverputModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                            <h4>Xuất hóa đơn</h4>
                                        </div>
                                        <div class="modal-body scroll_content" id="modalTurnOverPutWrapper" style="padding: 10px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a id="btnPaymentPut" class="btn btn-success btn-rounded btn-xs" data-toggle="modal" data-target="#paymentputModal" onclick="paymentputContract()" disabled>Nhập tiền về</a>
                            <div class="modal inmodal" id="paymentputModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                            <h4>Nhập tiền về</h4>
                                        </div>
                                        <div class="modal-body scroll_content" id="modalPaymentPutWrapper" style="padding: 10px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <a id="btnInternalPaymentPut" class="btn btn-danger btn-rounded btn-xs" data-toggle="modal" data-target="#internalpaymentputModal" onclick="internalpaymentputContract()" disabled>Thanh toán nội bộ</a>
                            <div class="modal inmodal" id="internalpaymentputModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                            <h4>Thanh toán nội bộ</h4>
                                        </div>
                                        <div class="modal-body scroll_content" id="modalInternalPaymentPutWrapper" style="padding: 10px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown profile-element" style="display: inline-block; vertical-align: middle">
                                <button id="btnTurnOverOfContract" data-toggle="dropdown" class="btn btn-warning btn-rounded btn-xs" href="#" disabled>
                                    <span class="clear">
                                        <span>Thông tin tài chính hợp đồng <b class="caret"></b></span>
                                    </span>
                                </button>
                                <ul class="dropdown-menu animated fadeInDown m-t-xs">
                                    <li>
                                        <a data-toggle="modal" data-target="#turnoverandpaymentModal" onclick="turnoverandpaymentContract()">Thông tin tài chính</a>
                                        <div class="modal inmodal" id="turnoverandpaymentModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                                        <h4>Thông tin tài chính</h4>
                                                    </div>
                                                    <div class="modal-body scroll_content" id="modalTurnOverAndPaymentWrapper" style="padding: 10px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#internalpaymentModal" onclick="internalpaymentContract()">Thanh toán nội bộ</a>
                                        <div class="modal inmodal" id="internalpaymentModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                                        <h4>Thanh toán nội bộ</h4>
                                                    </div>
                                                    <div class="modal-body scroll_content" id="modalInternalPaymentWrapper" style="padding: 10px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>                            
                        </div>
                    </div>
                    <div class="ibox-content" style="padding: 5px">
                        <div class="scroll_content">
                            @Html.DevExpress().RadioButtonList(
                                settings =>
                                {
                                    settings.Name = "rdbGridContractFilterInPayment";
                                    settings.Properties.Items.Add(new ListEditItem() { Text = "Tất cả", Value = 0, Index = 0 });
                                    settings.Properties.Items.Add(new ListEditItem() { Text = "Hoàn thành thanh toán", Value = 1, Index = 1 });
                                    settings.Properties.Items.Add(new ListEditItem() { Text = "Còn nợ đọng", Value = 2, Index = 2 });
                                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                    settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                                    settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                                    settings.Properties.RepeatColumns = 3;
                                    settings.SelectedIndex = GridViewHelper.ContractInPaymentGridFilterIndex;
                                    settings.Properties.ClientSideEvents.SelectedIndexChanged = string.Format("function(s, e) {{ OnRadioButtonSelectedIndexChanged(s, e); }}");
                                    settings.Properties.EnableFocusedStyle = false;
                                }).GetHtml()
                            @Html.Action("ContractPaymentViewPartial", "Contracts")
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title" style="background-color: #1ab394; color: white">
                        <h5>Tiến độ thanh toán</h5>
                    </div>
                    <div class="ibox-content" style="padding: 5px">
                        <div class="scroll_content">                            
                            @Html.Action("PaymentsOfContractPartial", "Contracts")
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/plugins/sweetAlert")

    <script type="text/javascript">
        $(document).ready(function () {
             //Add slimscroll to element
            $('.scroll_content').slimscroll({
                height: 'calc(100vh - 170px)'
            });
        });        
    </script>

}


