@*@model IEnumerable<IncosafCMS.Core.DomainModels.Equipment>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Html.RenderAction("Index", "EquipAdmin");
}*@

@model IEnumerable<IncosafCMS.Core.DomainModels.OriginalEquipment>

@{
    ViewBag.Title = "Danh sách thiết bị";
}

<script type="text/javascript">
    var selectedequipmentlib;

    function OnGridFocusedRowChanged(s, e) {
        $("#btnEdit").prop('disabled', true);
        $("#btnDelete").prop('disabled', true);
        s.GetRowValues(s.GetFocusedRowIndex(), 'Id;Code;No;Name;YearOfProduction;ManuFacturer', OnGetRowValues);
    }

    function OnGetRowValues(values) {
        if (values[0]) {
            selectedequipmentlib = values[0];
            if (selectedequipmentlib && typeof selectedequipmentlib === "number") {
                gvSpecificationsOfEquipmentLib.PerformCallback({
                    selectedequipmentlib: parseInt(selectedequipmentlib)
                });
                gvLoadTestsOfEquipmentLib.PerformCallback({
                    selectedequipmentlib: parseInt(selectedequipmentlib)
                });
                gvPartionsOfEquipmentLib.PerformCallback({
                    selectedequipmentlib: parseInt(selectedequipmentlib)
                });
                gvTechnicalDocumentOfEquipmentLib.PerformCallback({
                    selectedequipmentlib: parseInt(selectedequipmentlib)
                });

                $("#btnEdit").prop('disabled', false);
                $("#btnDelete").prop('disabled', false);
            } else {
                selectedequipmentlib = -1;
                gvSpecificationsOfEquipmentLib.PerformCallback({
                    selectedequipmentlib: parseInt(selectedequipmentlib)
                });
                gvLoadTestsOfEquipmentLib.PerformCallback({
                    selectedequipmentlib: parseInt(selectedequipmentlib)
                });
                gvPartionsOfEquipmentLib.PerformCallback({
                    selectedequipmentlib: parseInt(selectedequipmentlib)
                });
                gvTechnicalDocumentOfEquipmentLib.PerformCallback({
                    selectedequipmentlib: parseInt(selectedequipmentlib)
                });

                $("#btnEdit").prop('disabled', true);
                $("#btnDelete").prop('disabled', true);
            }
        }
        else {
            selectedequipmentlib = -1;
            gvSpecificationsOfEquipmentLib.PerformCallback({
                selectedequipmentlib: parseInt(selectedequipmentlib)
            });
            gvLoadTestsOfEquipmentLib.PerformCallback({
                selectedequipmentlib: parseInt(selectedequipmentlib)
            });
            gvPartionsOfEquipmentLib.PerformCallback({
                selectedequipmentlib: parseInt(selectedequipmentlib)
            });
            gvTechnicalDocumentOfEquipmentLib.PerformCallback({
                selectedequipmentlib: parseInt(selectedequipmentlib)
            });

            $("#btnEdit").prop('disabled', true);
            $("#btnDelete").prop('disabled', true);
        }

        eqCodeAndNo.textContent = "Mã hiệu: " + (values[1] ? values[1] : "N/A") + " - " + "Số quản lý (TT): " + (values[2] ? values[2] : "N/A");
        eqName.textContent = "Tên thiết bị: " + (values[3] ? values[3] : "N/A");
        eqYearAndManufac.textContent = "Năm sản xuất: " + (values[4] ? values[4] : "N/A") + " - " + "Nhà chế tạo: " + (values[5] ? values[5] : "N/A");
    }

    function editEquipmentLib() {
        $('#modalEditWrapper').html("");
        if (selectedequipmentlib && typeof selectedequipmentlib === "number") {
            $('#loading_panel').show();
            $.ajax({
                url: '/EquipmentLib/Edit/' + selectedequipmentlib, // The method name + paramater
                success: function (data) {
                    $('#modalEditWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    $('#loading_panel').hide();
                }
            });
        }
        else {
            //swal("Máy chủ chưa phản hồi", "Vui lòng thực hiện lại!", "warning")
            swal({
                title: "Máy chủ chưa có phản hồi",
                text: "Vui lòng thực hiện lại!",
                type: "warning",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Đồng ý",
                closeOnConfirm: true,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $('#editModal').modal('hide');
                }
            });
        }
    }
    function addnewEquipmentLib() {
        $('#modalAddNewWrapper').html("");
        $.ajax({
            url: '/EquipmentLib/Create/', // The method name + paramater
            success: function (data) {
                $('#modalAddNewWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)

            }
        });
    }
    function copyEquipmentLib() {
        $('#modalCopyWrapper').html("");
        if (selectedequipmentlib && typeof selectedequipmentlib === "number") {
            $.ajax({
                url: '/EquipmentLib/Copy/', // The method name + paramater
                data: { OriginalEquipmentID: selectedequipmentlib },
                success: function (data) {
                    $('#modalCopyWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                }
            });
        }
        else {
            swal({ title: "Chưa chọn thiết bị!", text: "Vui lòng chọn thiết bị để tiếp tục.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
        }
    }
</script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="full-height">
            <div class="col-lg-7">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Danh sách thiết bị</h5>
                        <div class="text-right">
                            <button class="btn btn-primary btn-rounded btn-xs" data-toggle="modal" data-target="#copyEquipmentLibModal" onclick="copyEquipmentLib()">Sao chép</button>
                            <div class="modal inmodal" id="copyEquipmentLibModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                            <h4>Sao chép thiết bị</h4>
                                        </div>
                                        <div class="modal-body" style="padding: 10px">
                                            <div id="modalCopyWrapper">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary btn-rounded btn-xs" data-toggle="modal" data-target="#addnewModal" onclick="addnewEquipmentLib()">Tạo mới</button>
                            <div class="modal inmodal" id="addnewModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                            <h4>Tạo mới thiết bị</h4>
                                        </div>
                                        <div class="modal-body scroll_content" style="padding: 10px">
                                            <div id="modalAddNewWrapper">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button id="btnEdit" class="btn btn-info btn-rounded btn-xs" data-toggle="modal" data-target="#editModal" onclick="editEquipmentLib()" disabled>Chỉnh sửa</button>
                            <div class="modal inmodal" id="editModal" tabindex="-2" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header" style="background-color:#1ab394; color: white; padding: 10px">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                                            <h4>Chỉnh sửa thiết bị</h4>
                                        </div>
                                        <div class="modal-body scroll_content" style="padding: 10px">
                                            <div id="modalEditWrapper"></div>
                                            <div id="loading_panel" class="spiner-example">
                                                <div class="sk-spinner sk-spinner-wave">
                                                    <div class="sk-rect1"></div>
                                                    <div class="sk-rect2"></div>
                                                    <div class="sk-rect3"></div>
                                                    <div class="sk-rect4"></div>
                                                    <div class="sk-rect5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button id="btnDelete" class="btn btn-danger btn-rounded btn-xs deleteEquipment" href="#" disabled>Xóa</button>
                        </div>
                    </div>
                    <div class="ibox-content" style="padding: 5px">
                        <div class="scroll_content">
                            @Html.Action("EquipmentLibViewPartial", "EquipmentLib")
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="ibox">
                    <div class="ibox-title" style="background-color: #1ab394; color: white">
                        <h5>Chi tiết thiết bị</h5>
                    </div>
                    <div class="ibox-content" style="padding: 5px">
                        <div class="scroll_content">
                            <ul class="list-group">
                                <li class="list-group-item" style="height: 30px; padding-top:5px; padding-bottom:5px"><b id="eqCodeAndNo"></b></li>
                                <li class="list-group-item" style="height: 30px; padding-top:5px; padding-bottom:5px"><b id="eqName"></b></li>
                                <li class="list-group-item" style="height: 30px; padding-top:5px; padding-bottom:5px"><p id="eqYearAndManufac"></p></li>
                            </ul>
                            <div class="bg-success p-xs b-r-xs">Các thông số kỹ thuật cơ bản</div>
                            @Html.Action("SpecificationsOfEquipmentLibPartial", "EquipmentLib")
                            <hr />
                            <div class="bg-success p-xs b-r-xs">Kiểm tra bên ngoài; thử không tải</div>
                            @Html.Action("PartionsOfEquipmentLibPartial", "EquipmentLib")
                            <hr />
                            <div class="bg-success p-xs b-r-xs">Thử tải</div>
                            @Html.Action("LoadTestsOfEquipmentLibPartial", "EquipmentLib")
                            <hr />
                            <div class="bg-success p-xs b-r-xs">Hồ sơ kỹ thuật</div>
                            @Html.Action("TechnicalDocumentOfEquipmentLibPartial", "EquipmentLib")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")

    <script type="text/javascript">
        $(document).ready(function () {

            // Add slimscroll to element
            $('.scroll_content').slimscroll({
                height: 'calc(100vh - 205px)'
            });
        });

        $('.deleteEquipment').click(function () {
            if (selectedequipmentlib && typeof selectedequipmentlib === "number") {
                swal({
                    title: "Bạn có muốn xóa?",
                    text: "Thao tác này sẽ không thể khôi phục lại",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Đồng ý",
                    cancelButtonColor: "#23C6C8",
                    cancelButtonText: "Hủy bỏ",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({

                            url: '/EquipmentLib/Delete/' + selectedequipmentlib, // The method name + paramater
                            type: "POST",
                            success: function (data) {
                                swal({ title: "Đã xóa!", text: "Đã xóa thành công.", type: "success", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                                window.location.href = '@Url.Action("EquipmentLib", "Home")';
                            }
                        });
                    } else {
                        swal({ title: "Đã hủy bỏ", text: "Đã hủy bỏ thao tác.", type: "error", confirmButtonColor: "#23C6C8", confirmButtonText: "Đồng ý" });
                    }
                });
            }
        });
    </script>
}
